@font-face {
    font-family: 'NervFont';
    src: url(../resources/fonts/NimbusRomNo9L-Reg.otf);
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'NervFontBold';
    src: url(../resources/fonts/NimbusRomNo9L-Med.otf);
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'MagiFont';
    src: url(../resources/fonts/Coolvetica-Rg.otf);
    font-weight: normal;
    font-size: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NervFont', sans-serif;
    color: white;
}
.nav-main-container {
    background-color: #dadada;
    height: 450px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #979797;
    padding: 15px 30px;
    font-size: 24px;
}
.nav-links {
    list-style: none;
    display: flex;
    transition: all 0.3s ease;
    font-size: 24px;
}
.nav-links li {
    margin-right: 25px;
}
.nav-links a:hover {
    color: aliceblue;
}
.right-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.right-bar ul a {
    text-decoration: none;
    color: white;
    font-family: 'MagiFont', sans-serif;
}

.container-main {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px
}
.left-main, .right-main {
    display: flex;
    justify-content: center;
}