@font-face {
    font-family: 'NervFont';
    src: url(../resources/fonts/NimbusRomNo9L-Reg.otf);
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'NervFontBold';
    src: url(../resources/fonts/NimbusRomNo9L-Med.otf);
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'MagiFont';
    src: url(../resources/fonts/Coolvetica-Rg.otf);
    font-weight: normal;
    font-size: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NervFont', sans-serif;
    color: white;
    font-weight: 100;
    transition: all 0.1s ease;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left, #030303, #030303); /* 3d0000 is a really good red... */
    padding: 15px 30px;
    font-size: 24px;
    /* border-bottom: 2px ridge rgb(22, 22, 22); */
}
.nav-main-container {
    background-color: #242424;
    background-image: url('../resources/images/nerv.jpeg'); /* BACKGROUND IMAGE HERE */
    /* LIST OF GOOD BG CANDIDATES: 
    sigils.jpeg
    ramiel.jpeg
    rifle.jpeg
    eva02bw.jpeg
    eva.jpeg
    */
    background-size: cover;
    background-attachment: fixed;
    height: 500;
    padding-bottom: 100px;
    justify-content: center;
}
.nav-links {
    list-style: none;
    display: flex; /* this one keeps it horizontal... */
    align-items: center;
    gap: 20px;
}
.nav-links a {
    display: inline-block;
    font-size: 24px;
}
.nav-links li {
    margin-right: 25px;
}
.nav-links a:hover {
    /* color: aliceblue; */
    transform: translate3d(-3px, -3px, 0px);
    scale: 1.02;
    text-shadow: 0 0 5px #000000, 0 0 30px #ff6363, 0 0 5px #ff0000;
}
.right-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.right-bar ul a {
    text-decoration: none;
    color: white;
    font-family: 'MagiFont', sans-serif;
    letter-spacing: 1px;
}
.container-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 150px;
    padding: 20px;
    /* border: 3px outset red; */
    border-radius: 8px;
    background-color: rgba(0,0,0,0.65);
}
.left-main, .right-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: .45;
}
.right-main {
    justify-content: center;
    align-items: center;
    display: flex;
}
.right-main img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}
.left-main h1 {
    font-size: 64px;
    font-family: 'NervFont', sans-serif;
    padding-bottom: 20px;
    letter-spacing: -1px;
}
.left-main h2 {
    font-size: 24px;
    font-family: 'MagiFont', sans-serif;
    text-wrap: wrap;
    letter-spacing: 1px;
}
.left-main button {
    color: white;
    background-color: #151515;
    height: fit-content;
    font-size: 24px;
    font-family: 'MagiFont', sans-serif;
    letter-spacing: 1px;
}
.left-main a, .enlist-right a {
    font-family: 'MagiFont', sans-serif;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #0a0a0a;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.left-main a:hover, .enlist-right a:hover {
    transform: translate3d(-3px, -3px, 0px);
    border-radius: 9px;
    box-shadow: 0 0 5px #000000, 0 0 10px #ff6363, 0 0 5px #ff0000;
}
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to top, #030303, #030303); /* 3d0000 is a really good red... */
    letter-spacing: 1px;
    height: 400px;
    padding: 20px;
    /* border-top: 2px ridge rgb(22, 22, 22); */
    /* border-bottom: 2px ridge rgb(22, 22, 22); */
}
.info-container h1 {
    margin-bottom: 30px;
    font-family: 'MagiFont', sans-serif;
}
.models-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.models-container img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 9px;
    border: 4px ridge white;
}
.model {
    padding-inline: 50px;
    text-align: center;
}
.model h2 {
    font-size: 24px;
    font-family: 'MagiFont', sans-serif;
    letter-spacing: 1px;
}
.model img:hover {
    box-shadow: 0 0 15px #ffffff;
    scale: 1.05;
}
.quote-container {
    background-image: url('../resources/images/nerv.jpeg'); /* BACKGROUND IMAGE HERE */
    /* LIST OF GOOD BG CANDIDATES: 
    sigils.jpeg
    ramiel.jpeg
    rifle.jpeg
    eva02bw.jpeg
    eva.jpeg
    */
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.quote-container h1 {
    font-family: 'NervFont', sans-serif;
    font-size: 48px;
    color: whitesmoke;
}
.enlist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: linear-gradient(to top, #030303, #030303);
    /* background-color: black; */
    /* border-top: 2px ridge rgb(22, 22, 22); */
}
.enlist-box {
    display: flex;
    justify-content: space-between;
    border: 3px outset rgb(180, 0, 0);
    flex-direction: row;
    padding: 30px;
}
.enlist-left {
    display: flex;
    padding-inline: 20px;
}